<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppĐặtVéXemPhim">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowtimeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".SeatSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ComboSelectionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NewsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".ShowtimeSelectionActivity" android:exported="false" />
        <activity android:name=".SeatSelectionActivity" android:exported="false" />
        <activity android:name=".MovieDetailActivity" android:exported="false" />
        <activity android:name=".HistoryActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".ManageMoviesActivity" android:exported="false" />
        <activity android:name=".AddEditMovieActivity" android:exported="false" />
        <activity android:name=".ManageCinemasActivity" android:exported="false" />
        <activity android:name=".ManageUsersActivity" android:exported="false" />
        <activity android:name=".ComingSoonDetailActivity" android:exported="false" />

        <activity android:name=".PaymentActivity" />
        <activity android:name=".PaymentResultActivity" />
        <activity android:name=".NewsDetailActivity" />
        <activity android:name=".ManageHallsActivity" />
        <activity android:name=".HallCreateActivity" />
        <activity android:name=".HallEditActivity" />
        <activity android:name=".CinemaListActivity" />
        <activity android:name=".CinemaShowtimeActivity" />
    </application>

</manifest>